package ${target.javaPackageFromFolder(${SRC})};
#set( $D = '$' )
import org.springframework.beans.factory.annotation.Value;
import org.springframework.context.annotation.Bean;
import org.springframework.context.annotation.Configuration;

import io.minio.MinioClient;
/**
 * BUSINESS factory
 *
 * @author Diomande Souleymane
 */
@Configuration
public class MinioConfig {

	    @Value("${D}{minio.access.name}")
	    String accessKey;
	    @Value("${D}{minio.access.secret}")
	    String accessSecret;
	    @Value("${D}{minio.url}")
	    String minioUrl;

	    @Bean
	    public MinioClient generateMinioClient() {
	        try {
	            MinioClient client = MinioClient.builder()
						.endpoint(minioUrl)
						.credentials(accessKey,accessSecret)
						.build();
	            return client;
	        } catch (Exception e) {
	            throw new RuntimeException(e.getMessage());
	        }

	    }
}